@page "{id:int}"
@model FoodDeliveryWebsite.Pages.EditRestaurantModel
@{
    ViewData["Title"] = "Edit Restaurant";
}

<h1>Edit Restaurant</h1>

<form method="post" class="form-group">
    <input type="hidden" asp-for="Restaurant.RestaurantId" />

    <label asp-for="Restaurant.Name"></label>
    <input asp-for="Restaurant.Name" class="form-control" />
    <span asp-validation-for="Restaurant.Name" class="text-danger"></span>

    <label asp-for="Restaurant.Category"></label>
    <input asp-for="Restaurant.Category" class="form-control" />
    <span asp-validation-for="Restaurant.Category" class="text-danger"></span>

    <label asp-for="Restaurant.Address"></label>
    <input asp-for="Restaurant.Address" class="form-control" />
    <span asp-validation-for="Restaurant.Address" class="text-danger"></span>

    <label asp-for="Restaurant.City"></label>
    <input asp-for="Restaurant.City" class="form-control" />
    <span asp-validation-for="Restaurant.City" class="text-danger"></span>

    <label asp-for="Restaurant.Latitude"></label>
    <input asp-for="Restaurant.Latitude" class="form-control" />
    <span asp-validation-for="Restaurant.Latitude" class="text-danger"></span>

    <label asp-for="Restaurant.Longitude"></label>
    <input asp-for="Restaurant.Longitude" class="form-control" />
    <span asp-validation-for="Restaurant.Longitude" class="text-danger"></span>

    <button type="submit" class="btn btn-primary mt-3">Save</button>
</form>