@page
@model FoodDeliveryWebsite.Pages.RestaurantsModel
@{
	ViewData["Title"] = "Restaurants";
}

<div class="max-w-(--container-width) mx-auto relative rounded-xl bg-(--light-gray) min-h-[477px]">
	<div>
		<span>Order something!</span>
		<h1>Restaurants</h1>
	</div>
</div>
